<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>choigacha</title>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="container">
        <h1 >choigacha</h1>    
        <button id="showGenresBtn">選ぶ</button>
      
        <div id="genreList" class="hidden">
            <ul>
                {% for key, name in categories.items() %}
                <li><a href="{{ url_for('category_page', category=key) }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

